@font-face {
    font-family: 'yekan';
    src: url(fonts/Yekan.eot);
    src: url(fonts/Yekan.eot?#iefix) format("embedded-opentype"), url(fonts/Yekan.woff) format("woff"), url(fonts/Yekan.ttf) format("truetype"), url(fonts/Yekan.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal
}

* {
    font-family: yekan;
    box-sizing: border-box;
}

.navbar {
    direction: rtl;
}
a{
    color: #FFFFFF !important;
}
.nav-active {
    background-color: #1ec7e1 !important;
}
.navbar-nav> li {
    background-color: #1db0ca;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background-color: #1db0ca;
    border-bottom: solid 2px #1ec7e1;
}
body {
    padding-top: 50px;
    background-color: #014051 !important;
    color: #2bcbf2;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.navbar-toggle {
    background-color: #b6e8e8;
}

.navbar-toggle > .icon-bar {
    background-color: #FFFFFF;
}



.panel-pricing {
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.panel-pricing:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.panel-pricing .panel-heading {
    padding: 13px 10px;
    color: #fdfdfd;
    background-color: #1b6d85;
    border-color: #1b6d85;
}

.panel-pricing .panel-heading .fa {
    margin-top: 10px;
    font-size: 58px;
}

.panel-pricing .list-group-item {
    color: #777777;
    border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}

.panel {
    border: 0px solid !important;
}

.panel-pricing .panel-body {
    font-size: 40px;
    padding: 10px;
    margin: 0px;
    border-bottom: 1px solid #cfcfcf;
}

.panel-footer {
    border: 0px solid !important;
    background-color: #fff !important;
}

.panel-pricing .panel-heading h3 {
    margin: 0;
    padding: 10px;
}

p.p-title {
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;
}

p.p-time {
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;
}

p.p-price {
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;
    color: #122b40;
    font-weight: bold;
}

p.p-tax {
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;
}

.sub-btn {
    background: #1b6d85;
    color: #fff;
    border-radius: 0px;
    padding: 5px 8px;
}

.sub-btn:hover, .sub-btn:focus {
    color: #fff;
    text-decoration: none;
}
.demoClick{
    width: 60%;
    cursor: pointer;
}